@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');

$font: 'Poppins', sans-serif;
$transition: all 0.6s;
$sidebar: (
    color: #fff,
    background: #303030
);

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    box-sizing: border-box;
    font-family: $font;
}

#l_sidebar {
    top: 0;
    left: 0;
    height: 0px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    color: map-get($sidebar, color);
    background-color: map-get($sidebar, background);
    overflow-x: hidden;
    transition: $transition;
}

#l_sidebar {
    &.launch {
        height: 100% !important;
    }
}

// -----------------------------------------------------------------------------
.m_main {
    padding: 20px;
    margin: 10px;
}

.m_button-launcher {
    color: #fff;
    background-color: #303030;
    padding: 10px;
    border: none;
}

.m_button-closer {
    color: #303030;
    background-color: #fff;
    padding: 10px;
    border: none;
}
// -----------------------------------------------------------------------------
